.category-detail-container {
  padding: 20px;
  background-color: #F0D1AF;
  min-height: 90vh;
  width: 95%;
}

.category-detail-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.card-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 10px;
  background-color: #FFFFFF66;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.card-header {
  display: flex;
  justify-content: center;
  margin-right: 40px;
  gap: 0.5rem;
}

.assign-button {
  background: #F0D1AF;
  border: none;
  cursor: pointer;
  padding: 5px;
  transition: all 0.3s ease;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.assign-button:hover {
  background-color: #dd7729;
}

.card-title {
  margin-top: 1rem;
  color: #333333;
  font-size: 1.5rem;
  text-align: center;
}

.quantity-button {
  background: #F0D1AF;
  border: none;
  cursor: pointer;
  padding: 5px;
  transition: all 0.3s ease;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quantity-button:hover {
  background-color: #dd7729;
}

.card-quantity {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 0.5rem;
}

@media (max-width: 768px) {
  .category-detail-container {
    padding: 10px;
  }

  
.card-header {
  margin-right: 30px;
}
  .card-container {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }

  .card-title {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .card-container {
    grid-template-columns: 1fr;
  }
  
.card-header {
  margin-right: 50px;
}
}
