.dashboard-container {
  padding: 0px;
  background-color: #fff1e6;
  min-height: 100vh;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  background-color: #fff1e6;
  z-index: 1000;
}

.header-icons {
  display: flex;
  gap: 10px;
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  transition: transform 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-button:hover {
  transform: scale(1.1);
}

.icon {
  width: 44px;
  height: 44px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
}

@media (max-width: 1200px) {
  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .card-container {
    grid-template-columns: 1fr;
  }
}

.card {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.card-title {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.circular-progress {
  width: 100px;
  height: 100px;
  margin: 0 auto 10px;
}

.circular-chart {
  width: 100%;
  height: 100%;
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke: #ff9f00;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

.percentage {
  fill: #666;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}

.card-details {
  font-size: 0.9rem;
  color: #666;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

@media (max-width: 768px) {
  .dashboard-header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  .dashboard-header h1 {
    font-size: 1.7  rem;
    margin: 0px 10px;
  }

  .header-icons {
    gap: 5px;
  }

  .icon {
    width: 22px;
    height: 22px;
  }
}

.floating-download-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #cc6600;
  border: none;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s, transform 0.3s;
}

.floating-download-button:hover {
  background-color: #b35900;
  transform: scale(1.1);
}

.download-icon {
  width: 30px;
  height: 30px;
}

@media (max-width: 768px) {
  .floating-download-button {
    width: 50px;
    height: 50px;
    bottom: 15px;
    right: 15px;
  }

  .download-icon {
    width: 25px;
    height: 25px;
  }
}
