body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #ffeee6;
}

.login-container {
  display: flex;
  max-width: 1000px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.login-image {
  flex: 1;
  overflow: hidden;
}

.login-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.login-form-container {
  flex: 1;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #ff9966;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.login-icon {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.login-form {
  width: 100%;
  max-width: 300px;
}

.input-group {
  position: relative;
  margin-bottom: 1rem;
}

input {
  width: 100%;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 25px;
  outline: none;
  transition: border-color 0.3s;
}

input:focus {
  border-color: #ff9966;
}

.input-icon {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
}

button {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  background-color: #cc6600;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #b35900;
}

@media (max-width: 768px) {
  .login-container {
    flex-direction: column;
  }

  /* .login-image {
    display: none;
  } */

  .login-form-container {
    padding: 2rem 1rem;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 2rem;
  }

  .login-icon {
    font-size: 2.5rem;
  }
}
